:root {
    background-color: #f1f1f1;
    /* font-family: "Raleway"; */
}

button {
    height: 24px;
    border-width: 0px;
    border-radius: 0px;
    outline-width: 0px;
    background-color: #d4d4d4;
    color: #454545;
    transition: background-color 0ms;
    font-size: small;
    col-between: 3px;
    row-between: 2px;
}

button.primary {
    background-color: #569de8;
    color: #eaeaea;
}

button, button:hover, button:over, button:active, button:focus-visible {
    border: none;
    outline: none;
}

button.primary:hover, button.primary:over {
    background-color: #4175ab;                
}

.field {
    border: 1px solid #8d8d8d;
    height: 1s;
    width: 1s;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
}

table > table-row, table > .table-contents > table-row {
    font-size: small;
    height: auto;
}

table > table-row.table-header > .table-header-column, table > table-row.table-header {
    font-size: small;
    color: #666666;
    background-color: #b4b4b4;
    height: auto;
}

table > .table-contents > table-row:nth-child(odd) {
    background-color: rgba(40, 40, 40, 70%);
}